/*  
Theme Name: plus1000
Theme URI: http://www.plus1000.ch
Description: Theme developped for the + 1000 website.
Version: 9.0
Author: Plus 1000

	
/* Début typographies et couleurs */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #333;
	text-align: center;
	background: url(images/bg.gif) repeat;
}

#page {
	text-align: left;
	background: url(images/bg_page.png) repeat-y;
}

#content {
	font-size: 1.2em;
	}

.widecolumn .entry p {
	font-size: 1.05em;
	}

.narrowcolumn .entry, .widecolumn .entry {
	line-height: 1.4em;
	}

.widecolumn {
	line-height: 1.6em;
	}
	
.narrowcolumn .postmetadata {
	text-align: center;
	}

.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}


	
.titrePage /* Page titles */
{
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight:600;
  font-size:20px;
  border: 0px solid #000000;
  display:block;
  padding: 0 0 0px 20px;
  padding-top: 5px;
}


small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	}

h1 {
	font-size: 4em;
	text-align: center;
	}

.description {
	font-size: 1.2em;
	text-align: center;
	}

h2 {
	font-size: 1.2em;
	}

h2.pagetitle {
	font-size: 1.6em;
	}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
	text-decoration: none;
	color: white;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #e0215c;
	font-weight: normal;
	font-style: normal;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, .titrePage, .titrePage a, .titrePage a:hover, .titrePage a:visited, #wp-calendar caption, cite {
	text-decoration: none;
	}
	


.entry p a:visited {
	color: #b85b5a;
	}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}
	
.commentlist li {
	font-weight: bold;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover{
	color: #e0215c;
	text-decoration: none;
	font-weight: bold;
}

.titrePage a:hover{
	color: #333;
	text-decoration: none;
	}

a:hover {
	color: #707070;
	text-decoration: underline;
}
	
#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}

/* Fin typographie et couleurs */

/* Début Structure */

body {
	margin: 0;
	padding: 0; 
	}

#page {
	margin: 5px;
	padding: 0;
	width: 900px;
	border: 0px;
	}

#topheader { 
	margin-top: 20px ;
	padding: 0;
	width: 900px; 
	}
	
#header {
	padding: 0;
	height: 400px;
	width: 900px;
	}

.narrowcolumn {
	padding: 10px 0 20px 0;
	margin: 5px 0 0 20px;
	width: 800px;
	}

.widecolumn {
	padding: 10px 0 20px 0;
	margin: 5px 0 0 55px;
	width: 800px;
	}
	
.post {
	margin: 0 0 40px;
	text-align: justify;
	}
	

	
.post h2{
	color: #e0215c;
	margin-top: 20px;
	font: 1.6em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.widecolumn .post {
	margin: 0;
	}

.narrowcolumn .postmetadata {
	padding-top: 5px;
	}

.widecolumn .postmetadata {
	margin: 30px 0;
	}

#footer {
	
	padding: 0;
	margin: 0 auto;
	width: 900;
	height: 30px;
	background-color: #c9deec;
}

#footer p {
	margin: 0;
	padding: 7px 55px 0 0;
	text-align: right;
	}
	
/* Fin Structure */



/*	Début Entêtes */
h1 {
	padding-top: 55px;
	margin: 0;
	}

.description {
	text-align: center;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Entêtes */


/* Rolling Menu Styles */

#sidebar {
	display: block;
	border: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	z-index: 5;
	position: relative;
}

#sidebar ul {
	width:900px;
	min-height: 30px;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	z-index: 500;
}

#sidebar li {
	display: inline;
	float: left;
	min-height: 20px;
	position: relative;
	text-align: left;
	padding: 7px 16px 3px;
	margin: 0px 0px 0px 0px;
}

#sidebar h2 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	weight: bold;
}



#sidebar li ul {
	width: 150px;
	height: auto;
	top: 100%;
	left: 0px;
}

#sidebar li.LargeMenu ul {
	width: 200px;
	height: auto;
	top: 100%;
	left: 0px;
}

#sidebar li ul li {
	text-align: left;
	width: 118px;	
	height: auto;
	min-height: auto;
	display: block;
}

#sidebar li.LargeMenu ul li {
	text-align: left;
	width: 198px;	
	height: auto;
	min-height: auto;
	display: block;
}

#sidebar a {
	text-decoration: none;
	}

#sidebar li li ul {
	top: 0;
	left: 0;
}

#sidebar li li:hover ul {
	left: 150px;
}

/* initialy hide all sub sidemenus */
#sidebar ul ul,
#sidebar ul li:hover ul ul,
#sidebar ul ul li:hover ul ul,
#sidebar ul ul ul li:hover ul ul,
#sidebar ul ul ul ul li:hover ul ul {
	position: absolute;
	display:none;
}

/* display them on hover */
#sidebar li:hover ul,
#sidebar ul li:hover ul,
#sidebar ul ul li:hover ul,
#sidebar ul ul ul li:hover ul,
#sidebar ul ul ul ul li:hover ul,
#sidebar ul ul ul ul ul li:hover ul {
 	 display: block;
}

#sidebar #PhpWebcontent {
	display:none;
}	

/* define the consecutive colors */

#sidebar {
	color: #FFFFFF;
}

#sidebar ul{
	background: url(images/bg_side.png);
	/*-moz-opacity:0.88; /* for mozilla */
	/*opacity: 0.88; /* for safari */
	/*khtml-opacity: 0.88 /* for konquerer and older safari */
}

#sidebar ul ul {
	background: #ababab;
}
#sidebar ul li {
	background: #ababab;
}

#feeds li {
  background: url(images/feed.png) top left no-repeat;
  padding-left: 18px;
}

#sidebar h2 {
	color: #666666;
}

#sidebar a {
	color: #666666;
	}

#sidebar ul li:hover {
	background: #989898;
}

#sidebar ul li ul {

}

#sidebar ul li ul li {
	background: #ababab;
}

#sidebar ul li ul li:hover {
	background: #989898;
}

#sidebar ul li ul ul li{
	background: #ababab;
	
}

#sidebar ul li ul ul li:hover {
	background: #989898;
}

#wp-calendar #next a {
	background: none;
	}

#wp-calendar #prev a {
	background: none;
	}

/* Début Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	L'utilisation de 'class="alignright"' sur une image aligne l'image à droite (qui aurait pu penser ça ?!)
	Et 'class="centered' centrera bien entendu l'image. Ceci est préférable à l'utilisation de 
	align="center", étant plus évolutif (et valide) */
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left
	}
/* Fin Images */



/* Début listes

	Puces stylisées, incompatible IE
	Ne fonctionne pas sous Internet Explorer qui affichera des puces standard par défaut. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	} 

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}
	
/* Fin listes */



/* Début éléments de formulaires */
#searchform {
	margin: 10px auto;
	padding: 5px 3px; 
	text-align: center;
	}
#searchform #s {
	width: 115px;
	padding: 2px;
	}
	
#searchsubmit {
	padding: 1px;
	}
	
.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform textarea {
	width: 100%;
	padding: 2px;
	}

#commentform #submit {
	margin: 0;
	float: right;
	}
/* Fin Eléments de formulaires */



/* Début commentaires*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* Fin commentaires */


/* Début calendrier */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	background: #000000;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

/* Fin calendrier */



/* Début différentes balises et classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 3px solid #ddd;
	background: #EEEEEE;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}



a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
	}
/* Fin différentes balises et classes */