/*  
Theme Name: plus1000_2011
Theme URI: http://www.allmeo.com
Description: Theme developed for the 2011 version of the +1000 website.
Version: 1.0
Author: meo

	
/* Début typographies et couleurs */
body {
	font-size: 62.5%; /* Resets 1em to 10px. NOTE: this is overridden in header.php for non-IE browsers */
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	color: #333;
	text-align: center;
	background: url(images/plus_1000_background.png) repeat; 
}

#page {
	text-align: left;
	background-color: #fff;
}

#content {
	font-size: 1.2em;
	}

.narrowcolumn .entry {
	line-height: 1.4em;
	}

.narrowcolumn .postmetadata {
	text-align: center;
	}

.alt {
	background-color: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	}


	
.titrePage /* Page titles */
{
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  font-weight:600;
  font-size:20px;
  border: 0px solid #000000;
  display:block;
  padding: 0 0 0px 20px;
  padding-top: 5px;
}


small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}

h1, h2, h3 {
	font-family: Arial, "Helvetica Neue", Helvetica, Geneva, sans-serif;
	}

h1 {
	font-size: 4em;
	text-align: center;
	}

.description {
	font-size: 1.2em;
	text-align: center;
	}

h2 {
	font-size: 1.2em;
	}

h2.pagetitle {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em;
	}

h1, h1 a, h1 a:hover, h1 a:visited, .description {
	text-decoration: none;
	color: white;
	}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #e2007a;
	font-weight: normal;
	font-style: normal;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, .titrePage, .titrePage a, .titrePage a:hover, .titrePage a:visited, #wp-calendar caption, cite {
	text-decoration: none;
	}
	


.entry p a:visited {
	color: #b85b5a;
	}

.commentlist li, #commentform input, #commentform textarea {
	font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}
	
.commentlist li {
	font-weight: bold;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	}

.commentmetadata {
	font-weight: normal;
	}

code {
	font: 1.1em 'Courier New', Courier, Fixed;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}

a, h2 a:hover, h3 a:hover{
	color: #707070;
}

.titrePage a:hover{
	color: #333;
	text-decoration: none;
	}

a:hover {
	color: #e2007a;
}
	
#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: center;
	}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
	}

/* Fin typographie et couleurs */

/* Début Structure */

body {
	margin: 0;
	padding: 0; 
	}

#page {
	margin: 50px auto;
	padding: 0;
	width: 1050px;
	border: 0px;
	}

#topheader { 
	margin-top: 20px ;
	padding: 0;
	width: 900px; 
	}
	
#header {
	color:transparent;
	height:auto;
	margin:0;
	padding:0;
	width:993px;
}

#logoimg {
	background: url(images/plus_1000_logo.png) no-repeat scroll 0 0 transparent;
	height: 92px;
	width: 190px;
}

.narrowcolumn {
	padding: 0;
	margin:0px 0px 0px 238px;
	width: 755px;
	}

.narrowcolumn #excerptTitle {
	padding: 0px;
	margin: 0px 0px 15px 0px;
	border: 0px;
	width: 755px;
	text-align: left;
}

.post a, .postWithThumb a {
	text-decoration: none;
	color: #E2007A;
	text-align: left;
}

.post a:hover, .postWithThumb a:hover {
	text-decoration: none;
	color: #E2007A;
}

.post h2, .postWithThumb h2 {
	font-size: 1.8em;
	text-align: left;
	line-height: 1.2em;
}

.narrowcolumn .postWithThumb #excerptTitle {
	margin-left: 175px;
	width: 580px;
}
.narrowcolumn #excerptTitle .postdate {
	color: #969494;
	font-size: 0.8em;
	font-style: normal;
}

.narrowcolumn #theExcerpt, .post .entrytext {
	padding: 0px;
	margin: 0px;
	border: 0px;
	width: 755px;
	color: #878787;
	line-height: 1.6em;
}

.narrowcolumn #theExcerpt p, .post .entrytext p {
	margin-top: 0.5em;
	margin-bottom: 1.8em;
}

.post h2:before {
	font-size: 1em;
	content: "_";
	color: #F188C1;
}

.post h2 {
	font-size: 1.4em;
	color: #848484;
}

.post .entrytext h2, .post #excerptTitle h2 {
	font-size: 1.8em;
	color: #E2007A;
}

.post .entrytext h2:before, .post #excerptTitle h2:before {
	content: "";
}

/* Overrides for plugins  */
.ngg-galleryoverview {
	clear: none !important;
}

/* Calendar of events */
.page-id-2453 h4 {
	margin-bottom: 0;
}
.page-id-2453 9 {
	margin-bottom: 1em;
}

/* Galleries */
#post-269, #post-1243 {
	float: left;
}

.narrowcolumn .postWithThumb #theExcerpt {
	margin-left: 175px;
	width: 580px;
}

.addthis_default_style {
	height: 16px;
	vertical-align: top;
}

.addthis_default_style a {
	color: #969494; 
	font-size: 0.8em; 
	font-style: normal;
	margin-right: 10px;
	text-decoration: none;
}

.addthis_default_style a:hover  
{
	color: #e2007a;
}

.narrowcolumn .photographer, .narrowcolumn .wp-caption-text  {
	float: right;
}

.narrowcolumn cite, .narrowcolumn .wp-caption-text {
	color: #969494;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
}

.narrowcolumn .wp-caption-text  {
	margin-right: 10px;
}

.intro_post_image {
	float: left;
}


.postSeparator {
	background: url(images/plus_1000_post_separator.png) repeat-x scroll 0 0 transparent;
	height: 11px;
    margin: 1.8em 0 1.8em;
}



.post {
	margin: 0px;
	text-align: justify;
}

.read_more {
	color: #e2007a;
	font-weight: bold;
}

.leftFloatClearer {
	clear: left; 
	line-height: 0; 
	height: 0;
}

.rightFloatClearer {
	clear: right; 
	line-height: 0; 
	height: 0;
}

.narrowcolumn .postmetadata {
	padding-top: 5px;
}

#footer {
    border-style:solid none none none;	
    border-top-color: #CCCCCC;
    border-top-width: 1px;
    
	padding: 0;
	margin: 0 14px 0 43px;
	width: 950px;
	height: 25px;
}
#footer a{
	color: #969494;
	text-decoration : none;
}

#footer a:hover {
	color: #e2007a;
	}

#footer p {
	color: #969494;
	margin: 0;
	padding: 7px 0 0 0;
	text-align: right;
	}
	
/* Fin Structure */



/*	Début Entêtes */
h1 {
	padding-top: 55px;
	margin: 0;
	}

.description {
	text-align: center;
	}

h2 {
	margin: 30px 0 0;
	}

h2.pagetitle {
	margin-top: 30px;
	text-align: center;
}

h3 {
	padding: 0;
	margin: 30px 0 0;
	}

h3.comments {
	padding: 0;
	margin: 40px auto 20px ;
	}
/* End Entêtes */


/* Rolling Menu Styles */

#sidebar {
  float:left;
  margin:0;
  padding:0;
  border:0;
  width:223px;
}

#sidebarmenu {
	margin-left: 43px;
}

#sidebarmenu .meoLangSelect {
	margin-top: 1.5em;
	margin-bottom: 0px;
	padding-bottom: 1em;
	font-size: 1.2em;
	border-bottom: 1px solid #CCC;
}

#sidebarmenu .meoLangLink {
	text-transform: uppercase;
}

#sidebarmenu .meoLangSelectDivider {
	color: #e2007a;
	padding: 0px 5px 0px 5px;
}

#sidebarmenu .catalogue {
	margin-top: 2.5em;
	line-height: 1.8em;
	color: #9c9c9c;
}

#sidebarmenu .catalogue img {
	margin-bottom: 1em;
}

#sidebarmenu .catalogue .puce {
	color: #e2007a;
}

#sidebar ul {
	min-height: 30px;
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 2em 0px;
	z-index: 500;
}

#sidebar li {
	min-height: 20px;
	position: relative;
	text-align: left;
	padding: 7px 16px 3px;
	margin: 0px 0px 0px 0px;
}

#sidebar h2 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}



#sidebar li ul {
	width: 150px;
	height: auto;
	top: 100%;
	left: 0px;
}

#sidebar li.LargeMenu ul {
	width: 200px;
	height: auto;
	top: 100%;
	left: 0px;
}

#sidebar li ul li {
	text-align: left;
	width: 118px;	
	height: auto;
	min-height: auto;
	display: block;
}

#sidebar li.LargeMenu ul li {
	text-align: left;
	width: 198px;	
	height: auto;
	min-height: auto;
	display: block;
}

#sidebar a {
	text-decoration: none;
	}
#sidebar a.sidebar-a-pink {
	color:#e2007a;
	}

#sidebar li li ul {
	top: 0;
	left: 0;
}

#sidebar li li:hover ul {
	left: 150px;
}

/* initialy hide all sub sidemenus */
#sidebar ul ul,
#sidebar ul li:hover ul ul,
#sidebar ul ul li:hover ul ul,
#sidebar ul ul ul li:hover ul ul,
#sidebar ul ul ul ul li:hover ul ul {
	position: absolute;
	display:none;
}

/* display them on hover */
/*
#sidebar li:hover ul,
#sidebar ul li:hover ul,
#sidebar ul ul li:hover ul,
#sidebar ul ul ul li:hover ul,
#sidebar ul ul ul ul li:hover ul,
#sidebar ul ul ul ul ul li:hover ul {
 	 display: block;
}
*/

#sidebar #PhpWebcontent {
	display:none;
}	

/* define the consecutive colors */

#sidebar {
	color: #FFFFFF;
}

#sidebar ul{
	background-color: #FFFFFF;
	list-style: none;
	/*-moz-opacity:0.88; /* for mozilla */
	/*opacity: 0.88; /* for safari */
	/*khtml-opacity: 0.88 /* for konquerer and older safari */
}

#sidebar ul li {
	margin: 0;
	padding: 0px 0px 0px 8px;
	background: url(images/puce.png) 0px 12px no-repeat;
	border-bottom: 1px solid #CCCCCC;
}


#feeds li {
  background: url(images/feed.png) top left no-repeat;
  padding-left: 18px;
}

#sidebar h2 {
	color: #666666;
}

#sidebar a {
	color: #848484;
}

#sidebar a:hover {
	color: #E2007A;
}

#sidebar ul li:hover {
/*	background: #CCCCCC; */
}

#sidebar ul li ul {

}

#sidebar ul li ul li {
/*	background: #ababab; */
}

#sidebar ul li ul li:hover {
/*	background: #989898; */
}

#sidebar ul li ul ul li{
/*	background: #ababab; */
	
}

#sidebar ul li ul ul li:hover {
/*	background: #989898; */
}

#nav-below a {
	text-decoration: none;
}

#wp-calendar #next a {
	background: none;
	}

#wp-calendar #prev a {
	background: none;
	}

/* Début Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	L'utilisation de 'class="alignright"' sur une image aligne l'image à droite (qui aurait pu penser ça ?!)
	Et 'class="centered' centrera bien entendu l'image. Ceci est préférable à l'utilisation de 
	align="center", étant plus évolutif (et valide) */
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
	}

.alignright {
	float: right;
	}
	
.alignleft {
	float: left
	}
/* Fin Images */



/* Début listes

	Puces stylisées, incompatible IE
	Ne fonctionne pas sous Internet Explorer qui affichera des puces standard par défaut. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	} 

html>body .entry li {
	margin: 7px 0 8px 10px;
	}

.entry ul li:before {
	content: "\00BB \0020";
	}

.entry ol {
	padding: 0 0 0 35px;
	margin: 0;
	}

.entry ol li {
	margin: 0;
	padding: 0;
	}

.postmetadata ul, .postmetadata li {
	display: inline;
	list-style-type: none;
	list-style-image: none;
	}

/* Format sponsor list */

#post-127 ul {
	list-style-type: none;
	padding: 0;
	vertical-align: middle;
}

#post-127 li {
	margin-right: 51px;
	margin-bottom: 10px;
	width: 110px;
	height: 100px;
	float: left;
	vertical-align: middle;
}
	
/* Fin listes */



/* Début éléments de formulaires */
#searchform {
	margin: 10px auto;
	padding: 5px 3px; 
	text-align: center;
	}
#searchform #s {
	width: 115px;
	padding: 2px;
	}
	
#searchsubmit {
	padding: 1px;
	}
	
.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding: 2px;
	margin: 5px 5px 1px 0;
	}

#commentform textarea {
	width: 100%;
	padding: 2px;
	}

#commentform #submit {
	margin: 0;
	float: right;
	}
/* Fin Eléments de formulaires */



/* Début commentaires*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	}

.commentlist li {
	margin: 15px 0 3px;
	padding: 5px 10px 3px;
	list-style: none;
	}

.commentlist p {
	margin: 10px 5px 10px 0;
	}

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* Fin commentaires */


/* Début calendrier */
#wp-calendar {
	empty-cells: show;
	margin: 10px auto 0;
	width: 155px;
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	background: #000000;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

/* Fin calendrier */



/* Début différentes balises et classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 3px solid #ddd;
/*	background: #EEEEEE; */
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}



a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 60px;
}

.pressdownload h2 {
	font-size: 1.8em;
}

.pressdownload td {
	vertical-align: top;
}

.pressdownload h3 {
	margin-top: 10px;
}

.pressdownload a {
	text-decoration: none;
	vertical-align: middle;
}

.pressdownload img {
	display: block;
}

.pressdownload .linktext {
	 font-size: 0.8em;
}

.quicklinks {
/*	margin: 0; 
	padding: 0; */
}

.quicklink {
	float: left;
	margin-bottom: 13px;
}
#quicklink-1 {
	margin-right: 13px;
}
#quicklink-3 {
	float: right;
}

.clear {
/*	clear: both; */
}




.black-border {border: 1px solid #ccc;}
/* Fin différentes balises et classes */

